{% extends 'base.html' %}

{% block content %}
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">First Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="First name">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Last Name</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Last name">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Spare Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Spare email">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Address</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Address">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Spare Adress</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Spare address">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Password</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Password">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Bio</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Bio">
            </div>
        </div>
    </form>

    <style>
        html {
            margin: 200px;
        }
    </style>
{% endblock %}